<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intimate.dao.VillageMapper" >
  <resultMap id="BaseResultMap" type="com.intimate.pojo.Village" >
    <id column="village_id" property="villageId" jdbcType="SMALLINT" />
    <result column="village_code" property="villageCode" jdbcType="BIGINT" />
    <result column="village_type" property="villageType" jdbcType="TINYINT" />
    <result column="village_name" property="villageName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    village_id, village_code, village_type, village_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.intimate.pojo.VillageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from village
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from village
    where village_id = #{villageId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from village
    where village_id = #{villageId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.intimate.pojo.VillageExample" >
    delete from village
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intimate.pojo.Village" >
    insert into village (village_id, village_code, village_type, 
      village_name)
    values (#{villageId,jdbcType=SMALLINT}, #{villageCode,jdbcType=BIGINT}, #{villageType,jdbcType=TINYINT}, 
      #{villageName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.intimate.pojo.Village" >
    insert into village
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="villageId != null" >
        village_id,
      </if>
      <if test="villageCode != null" >
        village_code,
      </if>
      <if test="villageType != null" >
        village_type,
      </if>
      <if test="villageName != null" >
        village_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="villageId != null" >
        #{villageId,jdbcType=SMALLINT},
      </if>
      <if test="villageCode != null" >
        #{villageCode,jdbcType=BIGINT},
      </if>
      <if test="villageType != null" >
        #{villageType,jdbcType=TINYINT},
      </if>
      <if test="villageName != null" >
        #{villageName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intimate.pojo.VillageExample" resultType="java.lang.Integer" >
    select count(*) from village
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update village
    <set >
      <if test="record.villageId != null" >
        village_id = #{record.villageId,jdbcType=SMALLINT},
      </if>
      <if test="record.villageCode != null" >
        village_code = #{record.villageCode,jdbcType=BIGINT},
      </if>
      <if test="record.villageType != null" >
        village_type = #{record.villageType,jdbcType=TINYINT},
      </if>
      <if test="record.villageName != null" >
        village_name = #{record.villageName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update village
    set village_id = #{record.villageId,jdbcType=SMALLINT},
      village_code = #{record.villageCode,jdbcType=BIGINT},
      village_type = #{record.villageType,jdbcType=TINYINT},
      village_name = #{record.villageName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intimate.pojo.Village" >
    update village
    <set >
      <if test="villageCode != null" >
        village_code = #{villageCode,jdbcType=BIGINT},
      </if>
      <if test="villageType != null" >
        village_type = #{villageType,jdbcType=TINYINT},
      </if>
      <if test="villageName != null" >
        village_name = #{villageName,jdbcType=VARCHAR},
      </if>
    </set>
    where village_id = #{villageId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intimate.pojo.Village" >
    update village
    set village_code = #{villageCode,jdbcType=BIGINT},
      village_type = #{villageType,jdbcType=TINYINT},
      village_name = #{villageName,jdbcType=VARCHAR}
    where village_id = #{villageId,jdbcType=SMALLINT}
  </update>
</mapper>