<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intimate.dao.CourierNumberMapper" >
  <resultMap id="BaseResultMap" type="com.intimate.pojo.CourierNumber" >
    <id column="cn_id" property="cnId" jdbcType="BIGINT" />
    <result column="cn_number" property="cnNumber" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="notice_id" property="noticeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cn_id, cn_number, user_id, notice_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.intimate.pojo.CourierNumberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from courier_number
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from courier_number
    where cn_id = #{cnId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from courier_number
    where cn_id = #{cnId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.intimate.pojo.CourierNumberExample" >
    delete from courier_number
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intimate.pojo.CourierNumber" >
    insert into courier_number (cn_id, cn_number, user_id, 
      notice_id)
    values (#{cnId,jdbcType=BIGINT}, #{cnNumber,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{noticeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.intimate.pojo.CourierNumber" >
    insert into courier_number
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cnId != null" >
        cn_id,
      </if>
      <if test="cnNumber != null" >
        cn_number,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="noticeId != null" >
        notice_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cnId != null" >
        #{cnId,jdbcType=BIGINT},
      </if>
      <if test="cnNumber != null" >
        #{cnNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="noticeId != null" >
        #{noticeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intimate.pojo.CourierNumberExample" resultType="java.lang.Integer" >
    select count(*) from courier_number
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update courier_number
    <set >
      <if test="record.cnId != null" >
        cn_id = #{record.cnId,jdbcType=BIGINT},
      </if>
      <if test="record.cnNumber != null" >
        cn_number = #{record.cnNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.noticeId != null" >
        notice_id = #{record.noticeId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update courier_number
    set cn_id = #{record.cnId,jdbcType=BIGINT},
      cn_number = #{record.cnNumber,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      notice_id = #{record.noticeId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intimate.pojo.CourierNumber" >
    update courier_number
    <set >
      <if test="cnNumber != null" >
        cn_number = #{cnNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="noticeId != null" >
        notice_id = #{noticeId,jdbcType=BIGINT},
      </if>
    </set>
    where cn_id = #{cnId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intimate.pojo.CourierNumber" >
    update courier_number
    set cn_number = #{cnNumber,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      notice_id = #{noticeId,jdbcType=BIGINT}
    where cn_id = #{cnId,jdbcType=BIGINT}
  </update>
</mapper>