<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intimate.dao.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.intimate.pojo.Notice" >
    <id column="notice_id" property="noticeId" jdbcType="BIGINT" />
    <result column="notice_title" property="noticeTitle" jdbcType="VARCHAR" />
    <result column="notice_text" property="noticeText" jdbcType="VARCHAR" />
    <result column="notice_link" property="noticeLink" jdbcType="VARCHAR" />
    <result column="notice_state" property="noticeState" jdbcType="TINYINT" />
    <result column="notice_create_date" property="noticeCreateDate" jdbcType="TIMESTAMP" />
    <result column="notice_end_date" property="noticeEndDate" jdbcType="TIMESTAMP" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    notice_id, notice_title, notice_text, notice_link, notice_state, notice_create_date, 
    notice_end_date, group_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.intimate.pojo.NoticeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from notice
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from notice
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.intimate.pojo.NoticeExample" >
    delete from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intimate.pojo.Notice" >
    insert into notice (notice_id, notice_title, notice_text, 
      notice_link, notice_state, notice_create_date, 
      notice_end_date, group_id)
    values (#{noticeId,jdbcType=BIGINT}, #{noticeTitle,jdbcType=VARCHAR}, #{noticeText,jdbcType=VARCHAR}, 
      #{noticeLink,jdbcType=VARCHAR}, #{noticeState,jdbcType=TINYINT}, #{noticeCreateDate,jdbcType=TIMESTAMP}, 
      #{noticeEndDate,jdbcType=TIMESTAMP}, #{groupId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.intimate.pojo.Notice" >
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noticeId != null" >
        notice_id,
      </if>
      <if test="noticeTitle != null" >
        notice_title,
      </if>
      <if test="noticeText != null" >
        notice_text,
      </if>
      <if test="noticeLink != null" >
        notice_link,
      </if>
      <if test="noticeState != null" >
        notice_state,
      </if>
      <if test="noticeCreateDate != null" >
        notice_create_date,
      </if>
      <if test="noticeEndDate != null" >
        notice_end_date,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noticeId != null" >
        #{noticeId,jdbcType=BIGINT},
      </if>
      <if test="noticeTitle != null" >
        #{noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="noticeText != null" >
        #{noticeText,jdbcType=VARCHAR},
      </if>
      <if test="noticeLink != null" >
        #{noticeLink,jdbcType=VARCHAR},
      </if>
      <if test="noticeState != null" >
        #{noticeState,jdbcType=TINYINT},
      </if>
      <if test="noticeCreateDate != null" >
        #{noticeCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeEndDate != null" >
        #{noticeEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.intimate.pojo.NoticeExample" resultType="java.lang.Integer" >
    select count(*) from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update notice
    <set >
      <if test="record.noticeId != null" >
        notice_id = #{record.noticeId,jdbcType=BIGINT},
      </if>
      <if test="record.noticeTitle != null" >
        notice_title = #{record.noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeText != null" >
        notice_text = #{record.noticeText,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeLink != null" >
        notice_link = #{record.noticeLink,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeState != null" >
        notice_state = #{record.noticeState,jdbcType=TINYINT},
      </if>
      <if test="record.noticeCreateDate != null" >
        notice_create_date = #{record.noticeCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.noticeEndDate != null" >
        notice_end_date = #{record.noticeEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update notice
    set notice_id = #{record.noticeId,jdbcType=BIGINT},
      notice_title = #{record.noticeTitle,jdbcType=VARCHAR},
      notice_text = #{record.noticeText,jdbcType=VARCHAR},
      notice_link = #{record.noticeLink,jdbcType=VARCHAR},
      notice_state = #{record.noticeState,jdbcType=TINYINT},
      notice_create_date = #{record.noticeCreateDate,jdbcType=TIMESTAMP},
      notice_end_date = #{record.noticeEndDate,jdbcType=TIMESTAMP},
      group_id = #{record.groupId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intimate.pojo.Notice" >
    update notice
    <set >
      <if test="noticeTitle != null" >
        notice_title = #{noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="noticeText != null" >
        notice_text = #{noticeText,jdbcType=VARCHAR},
      </if>
      <if test="noticeLink != null" >
        notice_link = #{noticeLink,jdbcType=VARCHAR},
      </if>
      <if test="noticeState != null" >
        notice_state = #{noticeState,jdbcType=TINYINT},
      </if>
      <if test="noticeCreateDate != null" >
        notice_create_date = #{noticeCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeEndDate != null" >
        notice_end_date = #{noticeEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
    </set>
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intimate.pojo.Notice" >
    update notice
    set notice_title = #{noticeTitle,jdbcType=VARCHAR},
      notice_text = #{noticeText,jdbcType=VARCHAR},
      notice_link = #{noticeLink,jdbcType=VARCHAR},
      notice_state = #{noticeState,jdbcType=TINYINT},
      notice_create_date = #{noticeCreateDate,jdbcType=TIMESTAMP},
      notice_end_date = #{noticeEndDate,jdbcType=TIMESTAMP},
      group_id = #{groupId,jdbcType=BIGINT}
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </update>
</mapper>