<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intimate.dao.CountryMapper" >
  <resultMap id="BaseResultMap" type="com.intimate.pojo.Country" >
    <id column="country_id" property="countryId" jdbcType="SMALLINT" />
    <result column="country_code" property="countryCode" jdbcType="INTEGER" />
    <result column="country_name" property="countryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    country_id, country_code, country_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.intimate.pojo.CountryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from country
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from country
    where country_id = #{countryId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from country
    where country_id = #{countryId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.intimate.pojo.CountryExample" >
    delete from country
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.intimate.pojo.Country" >
    insert into country (country_id, country_code, country_name
      )
    values (#{countryId,jdbcType=SMALLINT}, #{countryCode,jdbcType=INTEGER}, #{countryName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.intimate.pojo.Country" >
    insert into country
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="countryId != null" >
        country_id,
      </if>
      <if test="countryCode != null" >
        country_code,
      </if>
      <if test="countryName != null" >
        country_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="countryId != null" >
        #{countryId,jdbcType=SMALLINT},
      </if>
      <if test="countryCode != null" >
        #{countryCode,jdbcType=INTEGER},
      </if>
      <if test="countryName != null" >
        #{countryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <insert id="insertList" parameterType="list">
    insert into  country (country_code, country_name)
    values
    <foreach item="item" index="index" collection="list"  separator=",">
      ( #{item.countryCode,jdbcType=INTEGER},#{item.countryName,jdbcType=VARCHAR})
    </foreach>
  </insert>


  <select id="countByExample" parameterType="com.intimate.pojo.CountryExample" resultType="java.lang.Integer" >
    select count(*) from country
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update country
    <set >
      <if test="record.countryId != null" >
        country_id = #{record.countryId,jdbcType=SMALLINT},
      </if>
      <if test="record.countryCode != null" >
        country_code = #{record.countryCode,jdbcType=INTEGER},
      </if>
      <if test="record.countryName != null" >
        country_name = #{record.countryName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update country
    set country_id = #{record.countryId,jdbcType=SMALLINT},
      country_code = #{record.countryCode,jdbcType=INTEGER},
      country_name = #{record.countryName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.intimate.pojo.Country" >
    update country
    <set >
      <if test="countryCode != null" >
        country_code = #{countryCode,jdbcType=INTEGER},
      </if>
      <if test="countryName != null" >
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
    </set>
    where country_id = #{countryId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intimate.pojo.Country" >
    update country
    set country_code = #{countryCode,jdbcType=INTEGER},
      country_name = #{countryName,jdbcType=VARCHAR}
    where country_id = #{countryId,jdbcType=SMALLINT}
  </update>
</mapper>